 #fullwidth-video {
   height: 100vw;
   min-height: 100vh;
   position: relative;
 }

 #fullwidth-video .fullwidth-video-bg {
   position: absolute;
   z-index: 1;
   top: 0px;
   left: 0px;
   bottom: 0px;
   right: 0px;
   overflow: hidden;
   background-size: cover;
   background-color: transparent;
   background-repeat: no-repeat;
   background-position: 0% 50%;
   background-image: url(http://mysite.com/assets/images/bg/myvideobg.jpg);
 }


 #fullwidth-video video {
   margin: auto;
   position: absolute;
   z-index: 1;
   top: 50%;
   left: 0%;
   transform: translate(0%, -50%);
   visibility: visible;
   opacity: 1;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }


 /** For Edge**/
 / @supports (-ms-ime-align:auto) {
   #fullwidth-video video {
     object-fit: none;
     margin: none;
     position: inherit;
     z-index: 1;
     top: 50%;
     left: 0%;
     transform: translate(0%, -50%);
     height: auto;
     width: 100%;
   }
 }